html {
    position: relative;
    min-height: 100%;
}

body {
  background-image: url(../images/concrete-texture.png);
  color: #777777;
}

a {
  text-decoration:  none;
  color: #777777;
  } 

header {
  margin-top: 0px; 
  background-color: #ffffff;
  width: 100%;
  height: 90px;
  padding-left: auto;
  padding-right: auto;
  border-bottom: solid grey
}

footer {
  position: absolute;
  clear: both;
  width: 100%;
  bottom: 0px;
  height: 50px;
  background-color: grey;
  border-top: 10px;
  border-top-color: #4aaaa5;
  border-style: solid;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  font-size: 10px;
  display: block;
}

textarea, input{
  padding: 10px; 
  width: 570px;
  border: 1px solid #D3D3D3;
}

textarea {
  height: 200px;
}

button {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.nav {
  float:right;
}

.navs {
  height: 100%;
  /*background-color: red;*/
  width: 760px;
  float: left;
  line-height: 90px; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}
.navcontent {
  width: 960px;
  height: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.yourname {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 200px;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 325%;
  float: left;
}

.main {
  margin-top: 35px;
  width: 960px;
  height: 605px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}

.teal {
  color: #4aaaa5;
}

.sidebarh, .aboutmeh, .yourname {
  font-family: 'Georgia', Times, Times New Roman, serif;
} 

.sidebarh {
  padding: 10px 10px 25px 10px;
  font-size: 18px;
  border-bottom: 1px;
  border-bottom-color: grey;
  border-style: solid;
}

.sidebar {
  background: #ffffff;
  width: 210px;
  height: 150px;
  float: right;
  padding: 30px;
}

.aboutmediv{
  padding: 30px;
  width: 590px;
  background: #ffffff;
  float: left;
}

.contactmediv{
  padding: 30px;
  width: 590px;
  background: #ffffff;
  float: left;
  height: 545px;
  margin-bottom: 10px;
}

.aboutmeh {
  font-size: 22px;
  border-bottom: 2px;
  border-bottom-color: grey;
  border-style: solid;
  margin-top: 10px;
  padding-bottom: 30px;
}

.aboutmep {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 200%;
  margin-top:20px
}

.bold {
  font-weight: bold;
}

.icon {
  width: 30%;
  height: auto;
  margin-top: 25px;
}

#avatar {
  width: 200px;
  float: left;
  margin-right: 25px;
}

::-webkit-input-placeholder { color:#D3D3D3; }
::-moz-placeholder { color:#D3D3D3; } /* firefox 19+ */
:-ms-input-placeholder { color:#D3D3D3; } /* ie */
input:-moz-placeholder { color:#D3D3D3; }