html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #F8E0B4;
  font-family: Helvetica, Arial;
}

h3{
  font-size: 1.4em;
  text-align: center;
   margin-top: 3vh;
  margin-bottom: 3vh; 
}

p {
  font-size: 0.9em;
  margin-bottom: 1vh;
}

li {
  font-size: 0.9em;
}

a, a > h3 {
  text-decoration:  none !important;
  color: black;
  box-shadow: none !important;
  } 

.about-me-link {
  color: white; 
}

.hidden {
  display: none;
}

/* container-fluid */
.main {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0
} 

/* triangle nav bar  */
#nav{
  margin: 0;
  position: absolute;
  z-index: 10;
  left: 46%;
  width: 0; 
  height: 0; 
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-top: 5vh solid #F8E0B4;
}

.dropdown {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 5vh;
  right: 2vw;
  position:relative;
  text-align: center
}

#main-dropdown-menu {
  position: absolute;
  width: 40vw;
  padding: 0;
  text-align: center;
  left: 0;
  right: 0;
  transform: translate(-45%, 0);
}

#main-dropdown-menu >li>a {
  padding: 2vh 0 2vh 0;
  font-size: 1.2em;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:rgb(114,164, 65);
  color: white
}

.glyphicon-menu-hamburger {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burger-a {
  padding: 0 2vw 0 2vw
}

#burger-a:hover{
  background-color: transparent
}

/* individual rows */
#row1, #row2, #row3, #row4 {
  height: 40vh; 
  z-index: -1;
  margin: 0
}

.odd{
  background-color: #FCC000;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.even{
  background-color: #D35217;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding:0;
}

.odd-border {
  border: 1vh solid #FCC000;
}
.even-border{
  border: 1vh solid #D35217;
}

.border-radius {
  border-radius: 4px
}

#pattern{
  background-image: url(../images/maple.jpg)
}

#title{
  background-image: url(../images/warm-home.png)
}

#pattern, #title {
  background-size: 100% 100%
}

#welcome-message {
  text-align: left
}

#philosophy-message {
  text-align: right
}

#row-about {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

#about-me-right, #about-me-left {
  -webkit-flex:1;
  flex: 1;
  text-align: left;
  display: block;
  padding: 5vh 5vw 5vh 5vw;
  font-size: 1em;
  float: none;
  height: auto;
}

#contact-me-left, #contact-me-right {
  padding: 10vh 5vw 10vh 5vw;
  height: 90vh;
  display: block;
  text-align: center
}
#avatar, #bio-container{
  width: 90%;
  float: right
}


#email {
  width: 8vw;
  min-height: 60px;
  min-width: 60px
}

#linkedin {
  height: 10vh;
  width: auto;
}

#github {
  height: 9vh;
  width: auto;
}

#portfolio-icon, #business-card-icon {
  height: 12vh;
  width: auto;
}

#avatar-icon {
   height: 10vh;
  width: auto;
}

.flex-wrap {
   flex-wrap: wrap;
   align-content: center;
}

 #social-h3 {
  margin-top: 0;
  margin-bottom: 0
} 
.div-images {
  text-align: center;
  width: 100%
}

#resume {
  background-color: rgb(114,164, 65);
}

#github-a, #linkedin-a {
  display: inline-block
}

.need-background, .dropdown-menu {
  background-color: rgba(255,255,255,  0.7) 
}

.even > div> div> a >h3 {
  color: white;
}

.portfolio-h3 {
  margin: 0;
}

/* .portfolio-h3:hover {
    color: #00e5ee;
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
} */

.panel {
  color: black;
  margin: 1vh 1vw 1vh 1vw;
}

.panel-heading {
  padding: 1vh 1vw 1vh 1vw;
}

.panel-body {
  padding: 1vh 1vw 1vh 1vw;;
}

.btn {
  padding: 2vh 1vw 2vh 1vw;
  margin: 0 1vw 0 1vw;
}

.btn-div {
  padding: 1vh;
}

.bg {
  background-size: 100% 100%;
}

#routeMe{
  background-image: url("../images/projRM.JPG");
}

#motivate{
  background-image: url("../images/projMotivate.JPG");
}

#RPS{
  background-image: url("../images/projRPS.JPG");
}

#JM{
  background-image: url("../images/projJM.JPG");
}

#TFD{
  background-image: url("../images/projTFD.JPG");
}

::-webkit-input-placeholder { color:#D3D3D3; }
::-moz-placeholder { color:#D3D3D3; } /* firefox 19+ */
:-ms-input-placeholder { color:#D3D3D3; } /* ie */
input:-moz-placeholder { color:#D3D3D3; }

@media (max-width: 767px) {
  #main-dropdown-menu {
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 2px; 
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
/* } */
  .main {
  margin-left:5vh;
  margin-right:5vh;
  }
  .even, .odd {
    width: 100%;
    background-color: #FCC000;
    color: black;
    border-color: #FCC000;
  }
  
  .btn-div {
    width: auto;  
  }

  #title, #portfolio, #philosophy, #social-network, #about-me-right, #contact-me-right, #routeMe, #JM, #TODO2, #TODO4, #RM-title, #JM-title{
    background-color: #D35217;
    color: white;
    border-color: #D35217;
  }

  #portfolio, #social-network{
    color: white
  }

  #projJM {
    color: white;  
  }

  #projTFD{
    color: black
  }
  /* about page */
  #avatar, #bio-container{
    float: none
  }

  #about-me-left {
    height: auto;
  }
  

  #row-about {
    display:table
  }

  #avatar, #bio-container{
  width: 100%;
  }

  #contact-me-left, #contact-me-right {
    height: 45vh
  }

  #main-dropdown-menu {
    background-color: white
  }
}